<form #newReview="ngForm" (ngSubmit)="saveForm()">
  <mat-card class="example-card">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          name="username"
          [(ngModel)]="reviewModel.name"
          #username="ngModel"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input
          matInput
          type="number"
          name="mobile"
          [(ngModel)]="reviewModel.mobile"
          #mobile
          required
        />
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          [(ngModel)]="reviewModel.email"
          name="email"
          placeholder="pat@example.com"
          [formControl]="email"
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Why Anonymous</mat-label>
      <mat-select 
      name="anonymous"
      [(ngModel)]="reviewModel.anonymous"
      #anonymous
      required>
        <mat-option>None</mat-option>
        <mat-option value="sensitive information">sensitive information</mat-option>
        <mat-option value="racist content">racist content</mat-option>
        <mat-option value="political interference">political interference</mat-option>
        <mat-option value="afraid of backfire">afraid of backfire</mat-option>
        <mat-option value="privacy concerns">privacy concerns</mat-option>
        <mat-option value="others">others</mat-option>
      
      </mat-select>
    </mat-form-field>

    <div>
      <div>
      <mat-radio-group
      name="pictma"
      [(ngModel)]="reviewModel.pictma"
      #pictma>
        <mat-radio-button value="love"image> love </mat-radio-button>
        <mat-radio-button value="sad"> sad</mat-radio-button>
      </mat-radio-group><p> </p>
    </div>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input
          matInput
          name="location"
          [(ngModel)]="reviewModel.location"
          #location="ngModel"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Tags</mat-label>
        <input
          matInput
          name="tags"
          [(ngModel)]="reviewModel.tags"
          #tags="ngModel"
        />
      </mat-form-field>

      <div>
       
        <input
        type="file"
        name="attachements"
        [(ngModel)]="reviewModel.attachements"
        #attachments
        ng2FileSelect 
        [uploader]="uploader" />
   
      </div>


      <div>
        <mat-form-field appearance="outline">
          <mat-label>Your Content</mat-label>
          <textarea
            matInput
            name="content"
            [(ngModel)]="reviewModel.content"
            #content="ngModel"
          >
          </textarea>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button type="submit" class="btn" (click)="uploader.uploadAll()" >SUBMIT</button>
  </mat-card>
</form>
