.example-card {
  margin: 100px;
}
.btn {
  background-color: #f3471c; /* Green */
  color: white;
  padding: 10px 70px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}
.div {
  margin-top: 10px;
  margin-bottom: 10px;
}
//
