<form #newOrder="ngForm" (ngSubmit)="saveForm()">
    <mat-card class="example-card">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input
            matInput
            type="number"
            name="amount"
            [(ngModel)]="orderModel.amount"
            #amount="ngModel"
          />
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit" class="btn">BUY</button>
    </mat-card>
  </form>