
<mat-toolbar color="primary"></mat-toolbar>
<mat-card class="example-card">
<div>NAME:{{data.name}}</div>
<div>MOBILE:{{data.mobile}}</div>
<div>EMAIL:{{data.email}}</div>
<div>ADDRESS:{{data.location}}</div>
<div>WHY ANONYMOUS:{{data.anonymous}}</div>
<div>PICTMA TYPE:{{data.pictma}}</div>
<div>TAGS:{{data.tags}}</div>
<div>ATTACHMENTS:{{data.attchements}}</div>
<div>YOUR CONTENT:{{data.content}}</div>
</mat-card>